@import "./Variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    font-family: $Poppins;
    color: $primary;
    background-color: $background;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}